body {
    font-family: Arial;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
